<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <img class="mb-5"
         src="https://www.unibas.ch/dam/jcr:250dcba8-e6c8-4d4c-9135-b9a17b71d72c/welcome_day_Kopfbild_1000x500.jpg">

    <p class="flex justify-center text-center mt-10 text-slate-400 text-5xl">Das ist dein Jungmusik Archive</p>


    <div class="mt-10 flex justify-center">
        <button routerLink="/tabs/tab2"
                class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
            Go to archive
        </button>
    </div>

</ion-content>
